{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="homepage-bg-image m-0 p-0">
    <div class="row h-100 m-0 p-0">
        <div class="col-12 my-auto center">
            <h1 class="nav-text-color">START YOUR JOURNEY TODAY</h1>
        </div>
    </div>
</section>

<section class="about-bg-image m-0 p-0">
    <div class="row h-100 m-0 p-0">
        <div class="col-12 my-auto center">
            <h1 class="nav-text-color">NEAL'S BACKGROUND</h1>
        </div>
    </div>
</section>

<section class="team-services-bg-image m-0 p-0">
    <div class="row h-100 m-0 p-0">
        <div class="col-12 my-auto center">
            <h1 class="nav-text-color">TEAM SERVICES OFFERED</h1>
        </div>
    </div>
</section>

<section class="s-and-c-services-bg-image m-0 p-0">
    <div class="row h-100 m-0 p-0">
        <div class="col-12 my-auto center">
            <h1 class="nav-text-color">S&C SERVICES OFFERED</h1>
        </div>
    </div>
</section>

<section class="nutrition-services-bg-image m-0 p-0">
    <div class="row h-100 m-0 p-0">
        <div class="col-12 my-auto center">
            <h1 class="nav-text-color">NUTRITION SERVICES OFFERED</h1>
        </div>
    </div>
</section>

<section class="contact-bg-image m-0 p-0">
    <div class="row h-100 m-0 p-0">
        <div id="contact" class="col-12 contact-container" style="padding-right: 0px; padding-left: 0px">
            <div class="row box">
                <div class="col-12 mt-3" style="padding: 0;">
                    <!-- <div class="contact-title">
                        <h2 class="contact-heading text-center">Want to know more about what , their upcoming gigs, or availability?</h2>
                        <h2 class="contact-heading-2 text-center">Get in touch</h2>
                    </div> -->
                    <div class="row box">
                        <div class="col-12 center-form">
                            <form>
                                <input type="text" name="name" id="fullname" class="form-control contact-boxes" placeholder="Name" required />
                                <input type="email" name="email" id="emailaddress" class="form-control contact-boxes" placeholder="E-Mail" required />
                                <textarea rows="5" name="enquiry" id="enquiry" class="form-control contact-boxes" placeholder="Enquiry" required></textarea>
                                <div class="form-row text-center">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-secondary">Send enquiry</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--FOOTER-->
<footer id="footer" class="container-fluid footer" style="padding: 0;">
    <!-- social media -->
    <!-- <div class="row box">
        <div class="col-xl-3 col-sm-4" style="padding: 5px">
            <a class="page-scroll footer-link sub-heading" href="#about">About</a>
            <p class="d-none d-sm-block inline-block">
                Writing, producing and performing original material for over 50 years.
            </p>
        </div>
        <div class="col-xl-3 col-sm-4" style="padding: 5px">
            <a class="page-scroll footer-link sub-heading" href="#video">Video</a>
            <p class="d-none d-sm-block inline-block footer-text">
                Watch our rooftop performance at Abbey Road.
            </p>
        </div>
        <div class="col-xl-3 col-sm-4" style="padding: 5px">
            <a class="page-scroll footer-link sub-heading" href="#music">Music</a>
            <p class="d-none d-sm-block inline-block footer-text">
                Sample a song from each of our albums.
            </p>
        </div> -->
    <div class="col-xl-3 sub-heading" style="padding: 5px">
        Social
        <div class="block">
            <ul class="list-inline social-links">
                <li class="list-inline-item">
                    <a target="_blank" href="https://en-gb.facebook.com/thebeatles/">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://twitter.com/thebeatles?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.instagram.com/thebeatles/?hl=en">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.youtube.com/thebeatles">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <span class="sr-only">YouTube</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <!-- social media end-->
</footer>
{% endblock %}