html {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.homepage-bg-image {
    height: 90vh;
    background: url('/media/health_fitness_session.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-bg-image {
    height: 90vh;
    background: url('/media/kettlebell_b&w_1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.team-services-bg-image {
    height: 90vh;
    background: url('/media/team_training.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.s-and-c-services-bg-image {
    height: 90vh;
    background: url('/media/barbell_b&w_1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nutrition-services-bg-image {
    height: 90vh;
    background: url('/media/nutrition.png') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact-bg-image {
    height: 80vh;
    background: url('/media/cardio_b&w_1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar-AP-brand-logo {
    position: relative;
    background: url(/media/AP_logo_clear_background.png) no-repeat center center;
    background-size: contain;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.nav-text-color {
    color: white;
}

.shop-now-button {
    background: white;
    color: black;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #333333;
    color: white;
}

.text-black {
    color: black !important;
}

.border-black {
    border: 1px solid black !important;
}




@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

    .header-container {
        padding-top: 164px;
    }
}



<link href="https://fonts.googleapis.com/css2?family=Felipa&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Raleway:wght@600&display=swap"rel="stylesheet">